# Multiples of 3 and 5

If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23.

Find the sum of all the multiples of 3 or 5 below 1000.

In [12]:
sum = 0

for i in range(1, 1001):
    if i%3 == 0 or i%5 == 0 :
        sum = sum + i
        
sum

234168

# 탭을 공백 문자로 바꾸기

A씨는 개발된 소스코드를 특정업체에 납품하려고 한다. 개발된 소스코드들은 탭으로 들여쓰기가 된것, 공백으로 들여쓰기가 된 것들이 섞여 있다고 한다. A씨는 탭으로 들여쓰기가 된 모든 소스를 공백 4개로 수정한 후 납품할 예정이다.

A씨를 도와줄 수 있도록 소스코드내에 사용된 탭(Tab) 문자를 공백 4개(4 space)로 바꾸어 주는 프로그램을 작성하시오.

# 게시판 페이징

A씨는 게시판 프로그램을 작성하고 있다.

A씨는 게시물의 총 건수와 한 페이지에 보여줄 게시물수를 입력으로 주었을 때 총 페이지수를 리턴하는 프로그램이 필요하다고 한다.

입력 : 총건수(m), 한페이지에 보여줄 게시물수(n) (단 n은 1보다 크거나 같다. n >= 1)
출력 : 총페이지수

A씨가 필요한 프로그램을 작성하시오.

In [20]:
r = int(input("총 건수 : "))
o = int(input("페이지 게시물 수 : "))

page = 0

if r%o == 0 :
    page = r/o
elif r%o != 0 :
    page = r/o + 1

print("총 페이지 수 : " + str(int(page)))

총 건수 : 11
페이지 게시물 수 : 10
총 페이지 수 : 2

# 주어진 문자열(공백 없이 쉼표로 구분되어 있음)을 가지고 아래 문제에 대한 프로그램을 작성하세요.

이유덕,이재영,권종표,이재영,박민호,강상희,이재영,김지완,최승혁,이성연,박영서,박민호,전경헌,송정환,김재성,이유덕,전경헌

* 김씨와 이씨는 각각 몇 명 인가요?
* "이재영"이란 이름이 몇 번 반복되나요?
* 중복을 제거한 이름을 출력하세요.
* 중복을 제거한 이름을 오름차순으로 정렬하여 출력하세요.

In [41]:
txt = "이유덕,이재영,권종표,이재영,박민호,강상희,이재영,김지완,최승혁,이성연,박영서,박민호,전경헌,송정환,김재성,이유덕,전경헌"

list = txt.split(",")

kim = 0
lee = 0

for i in list :
    if i[0:1] == "김" :
        kim = kim + 1
    elif i[0:1] == "이" :
        lee = lee + 1

print("1. 김씨 : " ,kim , " , 이씨 : ", lee )

ljy = 0

for j in list :
    if j == "이재영" :
        ljy = ljy + 1

print("2. 이재영 : " , ljy , " 회")

list2 = []
for k in list : 
    if k not in list2 :
        list2.append(k)

print("3.", list2)
        
list2.sort(reverse = False)
print("4.", list2)

1. 김씨 :  2  , 이씨 :  6
2. 이재영 :  3  회
3. ['이유덕', '이재영', '권종표', '박민호', '강상희', '김지완', '최승혁', '이성연', '박영서', '전경헌', '송정환', '김재성']
4. ['강상희', '권종표', '김재성', '김지완', '박민호', '박영서', '송정환', '이성연', '이유덕', '이재영', '전경헌', '최승혁']

# Special Sort
출처 : http://www.careercup.com/question?id=5201559730257920

구글 전화면접 문제

n개의 정수를 가진 배열이 있다. 이 배열은 양의정수와 음의 정수를 모두 가지고 있다. 이제 당신은 이 배열을 좀 특별한 방법으로 정렬해야 한다.

정렬이 되고 난 후, 음의 정수는 앞쪽에 양의정수는 뒷쪽에 있어야 한다. 또한 양의정수와 음의정수의 순서에는 변함이 없어야 한다.

예. -1 1 3 -2 2 ans: -1 -2 1 3 2.

In [43]:
num = [-1, 1, 3, -2, 2]

min = []
plus = []

for i in num :
    if i > 0 :
        plus.append(i)
    elif i < 0 :
        min.append(i)

list = min + plus

print(list)

[-1, -2, 1, 3, 2]

# 피보나치 수열 구하기

피보나치 수열이란, 첫 번째 항의 값이 0이고 두 번째 항의 값이 1일 때, 이후의 항들은 이전의 두 항을 더한 값으로 이루어지는 수열을 말한다.

예) 0, 1, 1, 2, 3, 5, 8, 13

인풋을 정수 n으로 받았을때, n 이하까지의 피보나치 수열을 출력하는 프로그램을 작성하세요

In [92]:
n = int(input("2 이상 정수를 입력하세요 : "))

num_list = [0, 1]

while n <= 1 :
    n = int(input("2 이상의 양의 정수를 입력하세요. : "))

while n >= (num_list[-2] + num_list[-1]) :
    num_list.append(num_list[-2]+ num_list[-1])

print(num_list)

2 이상 정수를 입력하세요 : 14
[0, 1, 1, 2, 3, 5, 8, 13]

# 3이 나타나는 시간을 전부 합하면?

디지털 시계에 하루동안(00:00~23:59) 3이 표시되는 시간을 초로 환산하면 총 몇 초(second) 일까요?

디지털 시계는 하루동안 다음과 같이 시:분(00:00~23:59)으로 표시됩니다.

00:00 (60초간 표시됨)
00:01 
00:02 
...
23:59

In [136]:
second = 0

for h in range(24) :
    for m in range(60):
        if '3' in str(h) or '3' in str(m) :
            second += 60

print(second)

29700

# Duplicate Numbers

일전에 뭐 게임 회사에서 본 간단한 퀴즈 테스트 입니다.

0 ~ 9까지의 문자로 된 숫자를 입력 받았을 때, 이 입력 값이 0 ~ 9까지의 숫자가 각각 한 번 씩만 사용된 것인지 확인하는 함수를 구하시오.

sample inputs: 0123456789 01234 01234567890 6789012345 012322456789

sample outputs: true false false true false

In [155]:
n = input("inputs : ")

answer = []
for i in n.split() :
    if len(i) != 10 :
        answer.append("false")
    else :
        list = set()
        for n in range(len(str(i))) :
            list.add(str(i)[n:n+1])
            
        if len(list) == 10 :
            answer.append("true")
        else : 
            answer.append("false")
            
f = " ".join(answer)
print("outputs : ", f)

sample inputs : 0123456789 01234 01234567890 6789012345 012322456789
true false false true false

# Printing OXs

앞의 문제들 중 비슷한 알고리즘이 있던 것 같지만, 같은 건 없다고 생각해서 올립니다. 문제를 푸는데 많은 approach가 있을 듯 싶습니다. 이 문제의 핵심은 비트 연산을 얼마나 잘 이해하고 있냐이기 때문에 비트 연산으로 풀어주세요.

input은 int n을 입력 받아 첫번째 row는 (n-1)의 O와 X, 두번째 row는 (n-2)의 O와 XX, 세번째 row는 (n-3)의 0와 XXX... n번째 row는 n의 X을 출력하시오.

입력 예시: 6

출력 예시:

In [163]:
n = int(input("정수 입력 : "))

for i in range(n) :
    print("O"*(n-1-i)+"X"*(i+1))

정수 입력 : 6
OOOOOX
OOOOXX
OOOXXX
OOXXXX
OXXXXX
XXXXXX